img {
    width: 100PX;
    height: auto;
  }

.imperio {
    background-color: red;
  }
  
  .rebeldes {
    background-color: blue;
  }
  
  #darth_vader {
    font-size: 1.2em;
  }
  
  #luke {
    font-style: italic;
  }
  
  .soldados {
    border: 2px dashed black; 
  }
  
  .espaciado-letras {
    letter-spacing: 2px; 
  }
  
  .unidades-apoyo {
    text-align: center;
  }
  
   .naves {
    text-transform: uppercase;
  }